.tableau {
  width: 100%;
}

.popup-content {
  width: 80%;
}

.modal {
  background-color: rgb(255, 255, 255);
  font-size: 12px;

}

.modal>.header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.content {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 100%;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #adabab;
}

.element {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  background-color: #84848423;
  border-radius: 10px;
  padding: 5px;
}


.select-joueur,
.score {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 150px;
}

.select-joueur:focus-visible,
.score:focus-visible {
  border: none;
  outline: none !important;
}

.select-joueur:focus {
  border: none;
}

.select-joueur:active {
  border: none;
}

.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}



.fond {
  height: 50%;
  width: 100%;
}



.equipeGagnante {}



.equipePerdante {}

.entete-equipe {
  display: flex;
  justify-content: space-around;

}

.equipeGagnante,
.equipePerdante {
  display: flex;

  justify-content: space-evenly;
  background-color: white;
  height: 150px;
  border-radius: 10px;
  margin: 20px;
}

.contenu-equipe {

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50%;
}

.button-match {
  margin: 40px;
  background: #ffffff96;
  height: 80px;
  width: 200px;
  border: 3px solid #ffffff5c;
  border-radius: 36px;
  font-size: large;
}

.bouton-valider {
  margin: 40px;
  background: #9393933c;
  height: 80px;
  width: 200px;
  border: 3px solid rgba(141, 255, 139, 0.426);
  border-radius: 36px;
  font-size: large;
}

.bouton-valider:hover {
  border-color: rgba(141, 255, 139, 0.426);
}



.bouton-valider:disabled {
  border-color: rgba(255, 172, 139, 0.426);
}

.button-match:hover {
  background-color: rgba(255, 255, 255, 0.787);
  cursor: pointer;
}

table,
tr,
td {
 border: none;
  padding: none;
}

tr {
  height: 40px;
}

tr.tr-joueur:hover {
  cursor: pointer;
 background-color: #ffffff13;
}

.vs {
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.contenu-equipe {}



.img-vd {
  margin: auto 0;
}

.panneau-stat {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  /*background-color: rgb(77, 0, 149);*/
  background-color:   rgb(11, 60, 63);
;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
  overflow: scroll;

  color: rgba(255, 255, 255, 0.851);
}

.panneau-stat > h2{
  color: white;
}

h4{
  color: white;
}

.panneau-stat > span {
}


.ratio, .moyen-verre, .moyenne-verre {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}






.pourcentage-centre {
  position: absolute;
}

.donut,
.pourcentage-centre {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.donut {
}

.nimport{
  background-color: rgb(255, 1, 1);
}


.nimport{
  background-color: rgb(38, 183, 231);
}

.pourcentage {
}

.bouton-ferme-stat{
  background-color: rgba(210, 210, 210, 0.334);
  border-radius: 15px;
  width: 100px;
  height: 80px;
  text-align: center;
  margin: 50px;
}

.bouton-ferme-stat:hover{
  cursor: pointer;
}

.grid-stat{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px ;
  text-align: center;
}

.premier-stat{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.match-precedent{
  height: 300px;
}


.titre-classement-stat{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px
}